# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.env.*
!.env.vars.example
.dev.vars
.deploy.secrets
.wrangler
.wrangler-home
wrangler.local.toml
wrangler.deploy.toml

playwright-report
test-results
coverage/


# turbo
.turbo


# agent
.claude
.agents

# agent skill
skills-lock.json
!.agents/
!.agents/skills/
.agents/*
!.agents/skills/
.agents/skills/*
!.agents/skills/gen-changelog/
!.agents/skills/gen-changelog/**
!.agents/skills/gen-docs/
!.agents/skills/translate-docs/


# temp
.temp
